.login_left {
    height: 100vh;
    padding: 0px !important;
}


.login_left_bottom {
    background-image: url('/assets/loginback.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.login_left_top {}

#test_screen {
    overflow-y: scroll;
}



#test_screen::-webkit-scrollbar {
     width: 2px;
 }
 
#test_screen::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px rgba(205, 205, 205, 0.3); 
     border-radius: 1px;
 }
 
#test_screen::-webkit-scrollbar-thumb {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(170, 170, 170, 0.5); 
 }

.test_left {
    display: flex;
    justify-content: space-between;
}

#submit_test:hover {
    opacity: 0.8;
    border-radius: 2px;
}

.test_img {
    cursor: pointer;
    width: 50px;
    transition: 0.5s;
}

.test_left:hover {
    background-color: rgb(242, 242, 242);
}

.is_correct, .is_incorrect {
    width: 10px;
    height: 10px;
    background-color: greenyellow;
    display: inline-block;
    margin-left: 5px;
    border-radius: 50%;
}

.is_incorrect {
    background-color: rgb(255, 48, 48);
}

.test_img:hover {
    transform: scale(1.2);
}

.btn-1 {
    background: #2a2747;
    text-transform: uppercase;
    cursor: pointer;
    border: 0px;
    box-sizing: border-box;
    display: inline-flex;
    transition: all .3s;
    margin-right: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: white;
    border-radius: 5px;
    margin: 0px 10px;
}

.btn-1:hover {
    background: #3d3866;
    transform: scale(1.2);
}

.left_panel {
    color: rgb(81, 81, 81);
    text-align: center;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.478);
}

.login_right {
    text-align: center;
}


.left_panel {
    display: flex;
    align-items: center;
}

.right_test {
    background-color: #fff;
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 9%);
    position: relative;
}

.card {
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 9%) !important;

}

.active {
    background-color: rgba(89, 255, 114, 0.475);
}

.active-visit {
    background-color: rgba(255, 255, 40, 0.645);
}


.left_comp_box {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-image: linear-gradient(-57deg, #ff7eb6, #fad952);
    box-shadow: 0px 1px 7px 0px #ff9191;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.left_icon {
    font-size: 2em;
    color: white;
}

.login_right {}

.login_right_cont {
    position: absolute;
    top: 50%;
    margin-left: 10px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


@media only screen and (max-width: 600px) {
    .login_left_top span {
        float: left;
        width: 100%;
        padding: 10px;
    }
}